# Data Science Tools & Ecosystem

In this Notebook Data Science Tools & Ecosystem are summarized

**Objectives**
* list popular languages
* list commonly used libraries
* list open source IDEs
* provide examples of an arithmetic expression

Some of the popular languages for Data Science are:
1. Python
2. Java
3. R
4. SQL
5. C++

Some of the commonly used libraries used by Data Scientists are:
1. Pandas
2. Matplotlib
3. Numpy
4. Scikit-Learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Spydr |
| Jypter Labs |

### Below are few examples of evaluating airthmetic expressions in Python.

In [1]:
#this is a simple expression to multiple and then add numbers
(3*4)+5

17

In [2]:
#convert 200 minutes to hours
200/60

3.3333333333333335

## Author
Arsalan I. Sheikh